@page "/couriers"
@inherits CouriersBase

@using ProLab.Shared.Couriers.Response

<h3>Couriers</h3>

<RadzenDataGrid 
        IsLoading=@IsLoading 
        Count="@Count" 
        Data="@Items" 
        LoadData="@LoadData" 
        AllowPaging="true" 
        PageSize="@PageSize" 
        PagerHorizontalAlign="HorizontalAlign.Center">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(GetCourierListResponse.ItemData.Id)" Title="ID" />
        <RadzenDataGridColumn Property="@nameof(GetCourierListResponse.ItemData.FirstName)" Title="First name" />
        <RadzenDataGridColumn Property="@nameof(GetCourierListResponse.ItemData.LastName)" Title="Last Name" />
    </Columns>
</RadzenDataGrid>
